/*
#btnLogin{
 -fx-background-color: #7156DD
}

#btnRegistrar{
 -fx-background-color: #7156DD
}


#btnLogin:hover{
 -fx-background-color: #3F2B63   
}

#btnRegistrar:hover{
 -fx-background-color:   #3F2B63 
}


#btnLogin:selected{
 -fx-background-color: #3F2B63  
}

#btnRegistrar:selected{
 -fx-background-color: #3F2B63   
}

.imageview{
 -fx-background-color: #7156DD
}
.button:hover{
 -fx-background-color: #3F2B63  
}
.button:pressed{
 -fx-background-color: #3F2B63   
}
*/
